{% extends 'dashboard/base.html' %}

{% load staticfiles %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'epiceditor/epiceditor/js/epiceditor.js' %}"></script>
  <script>
    var opts = {
      textarea: "{{ form.body.id_for_label }}",
      basePath: "{% static 'epiceditor/epiceditor' %}",
      button: {
        bar: true
      },
      autogrow: {
        minHeight: 300
      }
    }
    var editor = new EpicEditor(opts);
    editor.load();
  </script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Criar Postagem</h1>

  {{ form.non_field_errors }}

  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group {% if form.title.errors %}has-error{% endif %}">
      <input type="text" class="form-control" name="{{ form.title.html_name }}" id="{{ form.title.id_for_label }}" placeholder="{{ form.title.label }}">
      <p class="help-block">{{ form.title.errors }}</p>
    </div>

    <div class="form-group">
      <div id="epiceditor"></div>
      <p class="help-block">{{ form.body.errors }}</p>
    </div>

    <textarea style="display: none" name="{{ form.body.html_name }}" id="{{ form.body.id_for_label }}"></textarea>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}
