{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
  {{ block.super }} // Criar Postagem
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
  <link rel="stylesheet" href="{% static 'codemirror/theme/base16-light.css' %}">
  <link rel="stylesheet" href="{% static 'highlightjs/styles/default.css' %}">
  <link rel="stylesheet" href="{% static 'css/post_form.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'markdown-it/dist/markdown-it.js' %}"></script>
  <script src="{% static 'highlightjs/highlight.pack.js' %}"></script>
  <script src="{% static 'emojify.js/dist/js/emojify.js' %}"></script>
  <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
  <script src="{% static 'codemirror/mode/markdown/markdown.js' %}"></script>
  <script src="{% static 'codemirror/mode/gfm/gfm.js' %}"></script>
  <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
  <script src="{% static 'codemirror/mode/django/django.js' %}"></script>
  <script src="{% static 'codemirror/mode/jinja2/jinja2.js' %}"></script>
  <script src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
  <script src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
  <script src="{% static 'codemirror/mode/css/css.js' %}"></script>
  <script src="{% static 'codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
  <script src="{% static 'codemirror/mode/shell/shell.js' %}"></script>
  <script src="{% static 'codemirror/addon/mode/overlay.js' %}"></script>
  <script src="{% static 'codemirror/addon/edit/continuelist.js' %}"></script>
  <script src="{% static 'codemirror/addon/edit/matchbrackets.js' %}"></script>
  <script src="{% static 'js/post_form.js' %}"></script>
{% endblock %}

{% block content %}
  <!-- Practically everything here was borrowed from https://github.com/jbt/markdown-editor/ -->
  <div id="in">
    <textarea id="code">## Bem vindo ao editor!

Elefoi pensado para facilitar a criação de conteudos utilizando `Markdown`, basta digitar seu texto para ver ele ser renderizado em tempo real no painel ao lado :+1:, várias funcionalidades estão disponiveis, entre elas:

### Listas

* Maça
* Banana
* Laranja

### Syntax Highlight

```python
from flask import Flask
app = Flask(__name__)

@app.route("/")
def hello():
    return "Hello World!"

if __name__ == "__main__":
    app.run()
```
Outras opções disponiveis:

* javascript
* htmlmixed
* css
* django
* jinja2
* shell

### Imagens

![logo](http://i.imgur.com/Uf4Tw7I.png "PythonClub logo")

### Formatação de Texto

* **Negrito**
* *Itálico*
* ~~strike~~

For further Markdown syntax reference: [Markdown Documentation](https://daringfireball.net/projects/markdown/basics)</textarea>
  </div>
  <div id="out"></div>
{% endblock %}
