{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/post_list.css' %}">
{% endblock %}

{% block body %}
<main>
  <div class="row">
    <div class="large-3 columns sidepanel" style="background-color: black;">
      <a href="{% url 'index' %}">
        <img src="{% static 'img/logo_275x130.png' %}" alt="{{ SITE_NAME }} Logo">
      </a>
    </div>
    <div class="large-9 columns content">
      {% block postarea %}
        latest posts

        {% for post in object_list %}
          <li>
            <a href="{{ post.get_absolute_url }}">{{ post }}</a>
          </li>
        {% endfor %}
      {% endblock %}
    </div>
  </div>
</main>
{% endblock %}
