{% extends 'content/post_list.html' %}

{% load staticfiles %}

{% block title %}
  {{ block.super }} // {{ object.title }}
{% endblock %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'pygments-css/default.css' %}">
{% endblock %}

{% block postarea %}
  <h1>
    <a href="{% url 'index' %}"><i class="fa fa-home"></i></a> &raquo; {{ object.title }}
    <small>by {{ post.created_by.display_name }}</small>
  </h1>
  <hr />
  {{ object.body_html|safe }}
{% endblock %}
